fastapi
uvicorn
python-multipart
opencv-python
numpy
ultralytics
torch
torchvisfastapi
uvicorn
python-multipart
opencv-python-headless
numpy
ultralytics
torch
torchvision
huggingface_hub
timm
einopsion
huggingface_hub
timm
einops